div.results-section {
  margin-top: 50px;
}

div.results-panel {
  padding: 50px;
}

.submit_button {
  padding-top:    5px;
  padding-bottom: 5px;
  padding-left:  15px;
  padding-right: 15px;
  background-color: #303d4d;
  color: whitesmoke;
}
