img.footer-logo {
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
  height: 32px;
}

div.footer-logos {
  width: 100%;
  text-align: center;
}

div.footer-logos a {
  border: none;
}

footer {
  margin-top: 50px;
}
