div.page-description {
  padding-bottom: 50px;
}

p.welcome, p.welcome2 {
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 1.2em;
  text-align: justify;
}

p.welcome2 {
  padding-top: 10px;
}
