table.dashboard-status td {
  text-align: center;
}

a.dashboard-refresh {
  margin-left: 20px;
  color: #0088cc;
}

p.status-update-dtstamp {
  color: darkred;
  font-style: italic;
}

div.performance-data-section-hidden {
  display: none;
}

div.performance-data-section-visible {
  display: block;
}

div.performance-graph-menu-section {
  padding-top: 50px;
}

ul.time-period-menu, ul.action-menu {
  list-style-type: none;
  li.clickable {
    display: inline;
    padding-right: 30px;
    color: #337ab7;
  }
  li.clickable:hover {
    color: #23527c;
    text-decoration: underline;
  }
  li.selected {
    display: inline;
    padding-right: 30px;
    font-weight: bold;
  }
}

div#performance-by-the-hour {
  display: block;
}

div#performance-by-the-day {
  display: none;
}

div#performance-by-the-month {
  display: none;
}

table.up-down-history {
  border: none;
}

td.up-down-history {
  font-size: .8em;
  font-style: italic;
  border: none;
}
th.up-down-history {
  width: 20px;
  border: none;
}

td.connection-up-down {
  border-right: 8px white solid;
  border-left: 8px white solid;
  border-top: none;
  border-bottom: 3px white solid;
}

td.connection-no-data {
  background-color: white;
}

td.connection-fully-up {
  background-color: #19AE19;
}

td.connection-mostly-up {
  background-color: #19AEA7;
}

td.connection-timeouts {
  background-color: #EDF908;
}

td.connection-barely-up {
  background-color: #AE7619;
}

td.connection-down {
  background-color: #CE0303;
}
