.container {
  padding-left: 0px;
  padding-right: 0px;
}

.ld4l-identity .container {
  background: #303d4d none repeat scroll 0 0;
}

div#content-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  margin-top: 40px;
}

h4 {
  margin-top: 40px;
}
