<div class="page-description">
  <p class="welcome">This service provides authority <b>lookup for single terms</b> and <b>search for terms</b> matching a query.
    See <a <a href="<%= "#{main_app.root_path}usage" %>">Usage</a> for more information.</p>
  <p class="welcome2">It has been created as part of the
    <a href="http://ld4l.org" target="_blank">LD4L Labs project</a>, and is operated by
    <a href="http://www.library.cornell.edu/" target="_blank">Cornell University Library</a>
    in collaboration with the
    <a href="https://www.slis.uiowa.edu/" target="_blank">School of Library and Information Science, University of Iowa</a>.
    This work was funded through a grant from the <a href="https://mellon.org/" target="_blank">Andrew W. Mellon Foundation</a>.</p>
</div>
